.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.container {
  position: fixed;
  background: #fff;
  padding: 1.5rem 2rem;
  min-height: 220px;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  width: 350px;
}

.bottom {
  width: 100%;
  bottom: 0;
  border-radius: 8px 8px 0 0;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 1.125rem;
  font-weight: 700;
}

.closeButton {
  width: 1.5rem;
  height: 1.5rem;
}
