.modal {
  box-sizing: border-box;
  min-width: 400px;
  padding: 24px 32px;

  border: none;
  border-radius: 8px;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal::backdrop {
  background-color: #000000;
  opacity: 0.35;
}

.modalBottom {
  margin-bottom: 0;
  width: 100%;
  max-width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modalWrapperBottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  margin: 0;
  justify-self: flex-start;

  font-size: 24px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  border: none;
  background: none;

  cursor: pointer;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 600px) {
  .modal {
    width: calc(100vw - 72px);
  }

  .modalBottom {
    width: 100%;
  }
}
