.modal {
  box-sizing: border-box;
  min-width: fit-content;
  padding: 24px 32px;

  border: none;
  border-radius: 8px;
}

.modal::backdrop {
  background-color: #000000;
  opacity: 0.35;
}

@media (max-width: 600px) {
  .modal {
    width: calc(100vw - 72px);
  }
}
