#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  --grey: #acacac;
  --black: #000000;
  --red: #ff3d3d;
  --white: #ffffff;
}

.section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sectionContainer {
  width: 390px;
  height: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--grey);
  border-radius: 4px;
  padding: 28px;
  gap: 40px;
}

.input {
  width: 100%;
  border: 1px solid var(--grey);
  border-radius: 4px;
  color: var(--black);
  padding: 12px 8px;
  &::placeholder {
    color: var(--grey);
  }

  &:focus {
    border: 1px solid var(--black);
  }
  &.isNotValid {
    border: 1px solid var(--red);
  }
}

.fieldContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  color: var(--black);
}

.titleBox {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & p {
    margin: 0;
    color: var(--grey);
  }

  & h3 {
    margin: 0;
  }
}

.feedbackMessage {
  color: var(--red);
  height: 18px;
}

.tx-xl {
  font-size: 24px;
  font-weight: 700;
}

.tx-lg {
  font-size: 18px;
  font-weight: 500;
}

.tx-md {
  font-size: 14px;
  font-weight: 400;
}
