.container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 12px;
}

.bankLogo {
    width: 100%;
    cursor: pointer;
}

.bankName {
    color: black;
    text-align: center;
}
